.App {
  text-align: center;
}

.ui.main.container{
  margin-top: 3em;
}

.ui.view-all-job-postings-by-posting-date.container {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.headline-1 {
  font-family: shuriken-std, sans-serif !important;
  font-size: 800%;
  font-style: normal;
}

.headline-2 {
  font-family: shuriken-std, sans-serif !important;
  font-size: 400%;
  font-style: normal;
}

.headline-3 {
  font-family: shuriken-std, sans-serif !important;
  font-size: 200%;
  font-style: normal;
}

.headline {
  margin-top: 3.5em;
}